@font-face {
  font-family: "Brandon";
  src: url(fonts/brandon_med.otf) format("opentype");
}
@font-face {
  font-family: "Brandon light";
  src: url(fonts/brandon_light.otf) format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* font-family: "PantReg", Helvetica, sans-serif; */
  font-family: "Brandon";
}


/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  width: 100%;
  height: 80px;

  background-color: #fff;
}

.logo {
  position: relative;
  z-index: 12;
  width: 80px;
  height: 80px;
  background-color: #22252c;
  /* pointer-events: none; */
}
.logo > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 40%;
  transform: translate(-50%, -50%);
}
.suplogo {
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 11;
  width: 130px;
  height: 80px;
  background-color: #22252c;
  transform: translateX(-100%);
  transition: transform .5s ease;
}
.suplogo > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  transform: translate(-50%, -50%);
}
.logo:hover + .suplogo,
.suplogo:hover {
  transform: translateX(0%);
}
@media (max-width: 899px) {
  .logo {
    width: calc(100% - 80px);
  }
  .suplogo {
    display: none;
  }
}

.nav  {
  position: absolute;
  top: 0;
  right: 80px;
  z-index: 11;
  height: 100%;
}

.nav__link__text {
  display: inline-block;
  height: 100%;
  padding: 0 1.5vw;

  line-height: 80px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #22252c;

  transition: color 0.2s linear, opacity 0.2s linear, transform 0.2s ease;
}
.nav__link__text:hover {
  color: #e2e2eb;
}

.nav__text__bt {
  position: absolute;
  right: 1.5vw;
  padding: 0;
  cursor: pointer;
}

.nav__link__icon {
  display: inline-block;
  height: 100%;
  width: 80px;

  line-height: 80px;
  text-align: center;

  border-left: 1px solid #e2e2eb;

  transition: transform 0.2s ease, opacity 0.2s linear;
}
.nav__link__icon svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: #22252c;
  transition: fill 0.1s linear;
}
.nav__link__icon:hover svg {
  fill: #e2e2eb;
}
@media (min-width: 900px) {
  .nav > * {
    display: none;
  }
  .nav .nav__text__bt {
    display: inline-block;
  }
  .nav__hide > * {
    display: inline-block;
    transform: translateX(100%);
    opacity: 0;
  }
  .nav__hide .nav__text__bt {
    display: inline-block;
    transform: translateX(100%);
    opacity: 0;
  }
  .nav__active > * {
    transform: translateX(0%);
    opacity: 1;
  }
  .nav__active .nav__text__bt {
    display: none;
  }
  .nav__link__text:nth-child(2) {
    transition: color 0.2s linear, opacity 0.2s linear 0.45s, transform 0.2s ease 0.45s;
  }
  .nav__link__text:nth-child(3) {
    transition: color 0.2s linear, opacity 0.2s linear 0.4s, transform 0.2s ease 0.4s;
  }
  .nav__link__text:nth-child(4) {
    transition: color 0.2s linear, opacity 0.2s linear 0.35s, transform 0.2s ease 0.35s;
  }
  .nav__link__text:nth-child(5) {
    transition: color 0.2s linear, opacity 0.2s linear 0.3s, transform 0.2s ease 0.3s;
  }
  .nav__link__icon:nth-child(6) {
    transition: color 0.2s linear, opacity 0.2s linear 0.25s, transform 0.2s ease 0.25s;
  }
  .nav__link__icon:nth-child(7) {
    transition: color 0.2s linear, opacity 0.2s linear 0.2s, transform 0.2s ease 0.2s;
  }
}
@media (max-width: 899px) {
  .nav {
    top: calc(calc(100vh - 160px) * (-1));
    left: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: #fff;
    transition: transform 0.5s ease;
  }
  .nav__active {
    transform: translateY(100%);
  }
  .nav__link__text {
    text-align: center;
    height: auto;
    display: block;
  }
  .nav__text__bt {
    display: none;
  }
  .nav__link__icon {
    position: absolute;
    bottom: 0;
    width: 20vh;
    height: 20vh;
    line-height: 20vh;
    border: 1px solid #e2e2eb;
  }
  .nav__link__icon svg {
    width: 10vh;
    height: 10vh;
  }
}

.button__menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;

  width: 80px;
  height: 80px;

  line-height: 80px;
  text-align: center;

  border-left: 1px solid #e2e2eb;
  border-bottom: 1px solid #e2e2eb;
  background-color: #fff;

  cursor: pointer;
}
.button__menu svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: #22252c;
}



/* section */
.section {
  width: calc(100% - 160px);

  margin: 0 auto;
}
@media (max-width: 899px) {
  .section {
    width: 100%;
  }
}

.setion__tittle {
  width: 100%;
  background-color: #e8e8f2;
}

.setion__tittle span {
  display: inline-block;
  width: 25%;
  padding: 30px;

  color: #fafafa;
  text-transform: uppercase;

  background-color: #a8acb7;
}
@media (max-width: 899px) {
  .setion__tittle span {
    width: 50%;
  }
}



/* intro */
.intro {
  margin-top: 80px;

  height: calc(100vh - 80px);

  background: url("../img/intro/intro_1.png") center no-repeat;
  background-size: cover;

  position: relative;

  z-index: 1;

  transition: background-image 0.2s linear;
}

.intro .setion__tittle {
  position: absolute;

  left: 0;
  bottom: 150px;

  background-color: transparent;
}
.intro .setion__tittle span {
  background-color: #30343c;
}

.slider__container {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.slider__container * {
  user-select: none;
}
.slider__bar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 15px;
  background-color: #30343c;
  transform: scaleX(0);
  /* transition: transform 3.0s linear; */
  transform-origin: left;
}
.slider__bar__1 {
  transform: scaleX(1);
}
.slider__bar__2 {
  transform: scaleX(2);
}
.slider__bar__3 {
  transform: scaleX(3);
}
.slider__bar__4 {
  transform: scaleX(4);
}
.slider {
  width: calc(25% * 9);
  height: 50%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  /* transition: transform 0.5s ease; */
}

.slider__front,
.slider__back {
  width: 80px;
  height: 150px;
  position: absolute;
  bottom: 0;
  background-color: #30343c;
  z-index: 100;
  overflow: hidden;
}
.slider__front {
  right: -80px;
}
.slider__back {
  left: -80px;
}
.slider__front svg,
.slider__back svg {
  fill: #e2e2eb;
  width: 50px;
  height: auto;
  position: absolute;
}
.slider__front svg {
  left: 10%;
  transform: rotate(90deg);
  transition: left 0.25s ease;
}
.slider__back svg {
  right: 10%;
  transform: rotate(-90deg);
  transition: right 0.25s ease;
}
.slider__front:not(.slider__button__deactive):hover svg {
  left: 40%;
}
.slider__back:not(.slider__button__deactive):hover svg {
  right: 40%;
}
.slider__button__deactive {
  background-color: #e8e8f2;
}

.slider__item {
  box-sizing: border-box;
  height: 100%;
  width: 25%;
  padding: 25px;
  position: relative;
  top: 0;
  background-color: #22252c;
  border-left: 1px solid #30343c;
  transition: height 0.2s linear, color 0.2s linear, top 0.2s linear;
}
.slider__item * {
  pointer-events: none;
}
.slider__item:first-child {
  border: none;
}

.slider__item__tittle {
  font-size: 25px;
  color: #fafafa;
}
.slider__item__description {
  margin-top: 15px;
  opacity: 0;
  color: #fff;
  transform: translateY(33%);
  transition: transform 0.2s linear, opacity 0.2s linear;
}
.slider__item__status {
  position: absolute;
  bottom: 22px;
  color: #30343c;
}

.slider__item:hover {
  top: -100%;
  height: 200%;

  border: none;
  background-color: #df4754;
}
.slider__item:hover .slider__item__description {
  display: block;
  transform: translateY(0%);
  opacity: 1;
}

@media (max-width: 899px) {
  .slider {
    width: calc(50% * 6);
  }
  .slider__item {
    width: 50%;
  }
  .slider__front,
  .slider__back {
    display: none;
  }
}



/* works */
.works__table {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  background-color: #e8e8f2;
}

.works__item {
  width: 25%;

  position: relative;

  overflow: hidden;
}
@media (max-width: 730px) {
  .works__item {
    width: 50%;

    position: relative;

    overflow: hidden;
  }
}

.work__photo {
  max-width: 100%;
  height: auto;

  display: block;
}

.work__description {
  width: 100%;
  height: 100%;

  padding: 40px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;

  background-color: #e8e8f2;

  pointer-events: none;

  z-index: -10;
}

.work__description h {
  position: relative;
  top: 10%;
  opacity: 0;
  color: #22252c;
  font-size: 40px;
  transition: opacity 0.5s linear 0.1s, top 0.5s linear 0.1s;
}
.works__item:hover .work__description h {
  top: 0;
  opacity: 1;
}

.work__description span {
  margin-top: 20px;
  display: block;
  position: relative;
  top: 10%;
  opacity: 0;
  color: #22252c;
  font-size: 20px;
  transition: opacity 0.5s linear 0.1s, top 0.5s linear 0.1s;
}
.works__item:hover .work__description span {
  top: 0;
  opacity: 1;
}

.work__description div {
  width: 100%;
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50%;
  color: #fff;
  text-transform: uppercase;
  background-color: #22252c;
  transition: bottom 0.5s linear 0.1s;
}
.works__item:hover .work__description div {
  bottom: 0;
}



/* contact */
.contact__body {
  display: flex;
}

.networks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;

  padding: 0px 20px;
  padding-top: 40px;
  padding-bottom: 70px;
}
.networks__tittle {
  color: #22252c;
  font-size: 40px;
  font-weight: bold;
}
.networks__links>a {
  vertical-align: middle;
}
.networks__links__icon {
  width: 40px;
  height: 40px;
  fill: #22252c;
  vertical-align: middle;
}

.offices {
  width: 75%;

  padding: 0px 20px;
  padding-top: 40px;
  padding-bottom: 70px;
}
.offices__dicrp {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: "Brandon light";
}
.offices__container {
  display: flex;
  justify-content: space-between;
}
.office {
  width: 30%;
}
.office__tittle {
  font-size: 28px;
}
.office__address {
  font-family: "Brandon light";
}

@media (max-width: 1024px) {
  .contact__body {
    flex-direction: column;
  }
  .networks {
    width: 100%;
    flex-direction: row;
    padding-bottom: 0px;
  }
  .offices {
    width: 100%;
  }
  .offices__dicrp {
    font-size: 20px;
  }
  .office__tittle {
    font-size: 25px;
  }
}
@media (max-width: 730px) {
  .networks__tittle {
    display: none;
  }
  .networks__links {
    width: 100%;
    text-align: center;
  }
  .offices {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .offices__container {
    flex-direction: column;
  }
  .office {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }
  .offices__dicrp {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .office__tittle {
    font-size: 22px;
  }
}



/* footer */
.footer {
  background-color: #22252c;
}
.footer .section {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .footer .section {
    flex-direction: column-reverse;
  }
}

.footer__copyright {
  width: 25%;
}
.copyright {
  padding: 40px 10px;
  color: #c3c3cb;
}
@media (max-width: 1000px) {
  .footer__copyright {
    width: 100%;
  }
  .copyright {
    text-align: center;
  }
}

.footer__tehnologies {
  width: 75%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .footer__tehnologies {
    width: 100%;
  }
}

.footer__tehnology {
  width: 25%;
  text-align: center;
}
@media (max-width: 1000px) {
  .footer__tehnology {
    width: 30%;
  }
}

.footer__icon {
  width: 100%;
  height: 80px;
  fill: #64666b;
  transition: fill 0.2s linear;
}
.footer__icon:hover {
  fill: #e2e2eb;
}













/* */
